* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #e30613;
    font-family: sans-serif;
    display: grid;
    place-items: center;
}

p {
    font-size: 1.5rem;
    font-weight: 700;
    color: #555;
    margin-bottom: 5rem;
    user-select: none;
}

.area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 40rem;
    background: #fff;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0 0 1.8rem rgba(0, 0, 0, 0.15);
}

label {
    width: 100%;
    color: #555;
    align-items: flex-start;
    transition: 0.15s linear;
}

input {
    font-size: 1.15rem;
    color: #555;
    padding: 1rem 0 0.5rem 0;
    width: 100%;
    border: none;
    border-color: #a0a0a0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-bottom: 2rem;
}

nav {
    display: flex;
    gap: 0.5rem;
    width: 100%;
    
}

select {
    height: 3rem;
    width: 15rem;
    outline: none;
    border-radius: 4px;
    margin-left: 0.5rem;
    /* padding: 1rem 0 0.5rem 0; */
    background: transparent;
    color: #555;
    border: 1px solid currentColor;

}

input:focus {
    outline: none;
}

button {
    font-size: 0.7em;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    padding: 1rem 2rem;
    cursor: pointer;
    background: transparent;
    color: #e30613;
    border: 1px solid currentColor;
    border-radius: 4px;
    margin-top: 0.5rem;
    transition: 0.25s;
}

button:hover,
button:focus {
    outline: none;
    background: #e30613;
    color: #fff;
}