/* @import url('https://fonts.googleapis.com/css2?family=Acme&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Kanit', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    /* background-color: #F2F2F2; */
    background-image: linear-gradient(to right top, #f3ecfe, #eeeafd, #e9e7fd, #e3e5fc, #dde3fb);
    padding: 7.5vh 5vw;
}

.home__container {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 2.5em;
    padding: 4.5em;
}

.start__area {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7.5em;
}

.start__area h1 {
    font-size: 6rem;
    font-weight: 900;
    letter-spacing: 0.15em;
    color: #a78af4;
    /* text-shadow: 0px  0px 2.5px  #7364f1; */
    /* background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right top, #b598f5, #a78af4, #987df3, #8770f2, #7364f1); */
}

.start__area button {
    width: 17.5em;
    height: 4.5em;
    /* background-color: #06d59f; */

    color: #a78af4 ;


    font-size: 1.5rem;
    letter-spacing: 0.25em;
    font-weight: 700;
    cursor: pointer;
    background: transparent;
    border: 7.5px solid currentColor;
    border-radius: 1em;
    transition: 0.25s;
}

.start__area button:hover, .start__area button:focus {
    outline: none;
    border: 7.5px solid #a78af4;
    color: #FFFFFF;
    background-color: #a78af4;
    transform: scale(0.90);
}

/* @media only screen and (max-device-width: 900px) {
} */

@media (max-width: 900px) {
    body {
        padding: 1em;
    }
    .home__container {
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 0.25em;
    }
    .start__area {
        width: 100%;
        height: 100%;
        justify-content: center;
        justify-content: center;
        align-items: center;
    }
    .start__area h1 {
        margin-left: 0;
        font-size: 6.5vh;
        text-align: center;
    }
    .start__area button {
        height: 20%;
        width: 100%;
        font-size: 95%;
    }
    .start__area button:hover, .start__area button:focus {
        outline: none;
        background: #06d59f;
        transform: scale(0.90);
        color: #e1e1e6;
    }
}

/* background: linear-gradient(90deg, rgba(211,103,193,1) 10%, rgba(222,223,64,1) 25%, rgba(98,203,92,1) 50%, rgba(0,187,203,1) 75%, rgba(171,121,214,1) 90%); */

/* background: linear-gradient(35deg, rgba(211,103,193,1) 10%, rgba(222,223,64,1) 25%, rgba(98,203,92,1) 50%, rgba(0,187,203,1) 75%, rgba(171,121,214,1) 90%); */